<a href="https://colab.research.google.com/github/Kent-Galvez/CPEN-21A-ECE-2-2/blob/main/Loop_Statement.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Kent Ruzzell P. Galvez

BSECE 2-2

Week 12 Assessment

For Loop

In [51]:
week=["Sunday", "Monaday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]
for x in week:
  print(x)

Sunday
Monaday
Tuesday
Wednesday
Thrusday
Friday
Saturday

Break Statement

In [53]:
week=["Sunday", "Monaday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]
for x in week:
  print(x)
  if x=="Thursday":
    break

Sunday
Monaday
Tuesday
Wednesday
Thursday

Example 3

In [56]:
week=["Sunday", "Monaday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]
for x in week:
  if x=="Thursday":
    break
  print(x)

Sunday
Monaday
Tuesday
Wednesday

Example 4

In [58]:
for x in "week":
  print(x)

w
e
e
k

Range Function

In [59]:
for x in range (6):
  print(x)

0
1
2
3
4
5

In [60]:
for x in range (2,10):
  print(x)

2
3
4
5
6
7
8
9

Nested Loops

In [61]:
Adjective=["red", "big", "tasty"]
Fruits=["apple", "banana", "cherry"]
for x in Adjective:
  for y in Fruits:
    print(x,y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

While Loop

In [67]:
i=1
while i<6:
  print(i)
  i+=1

1
2
3
4
5

Break Statement

In [68]:
i=1
while i<6:
  print(i)
  if i==3: break
  i+=1

1
2
3

Continue Statement

In [71]:
i=0
while i<6:
  i+=1
  if i==3:continue
  print(i)

1
2
4
5
6

Else statement

In [72]:
i=1
while i<6:
  print(i)
  i+=1
else:
  print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

Application 1:

In [73]:
hello=["hello"]
numbers=["1","2","3","4","5","6","7","8","9","10"]
for x in hello:
  for y in numbers:
    print(x,y)

hello 1
hello 2
hello 3
hello 4
hello 5
hello 6
hello 7
hello 8
hello 9
hello 10

Application 2:

In [149]:
i=1
while i<9:
  i+=1
  if i<4:
    continue
  print(i)

4
5
6
7
8
9